<section id="experience" class="experience">
  <div class="container">
    <h2>Experiencia</h2>
    <div class="experience-timeline">
      <div class="timeline-item" *ngFor="let exp of experiences">
        <div class="timeline-marker"></div>
        <div class="timeline-content card">
          <div class="experience-header">
            <h3>{{ exp.title }}</h3>
            <span class="experience-company">{{ exp.company }}</span>
            <span class="experience-period">{{ exp.period }}</span>
          </div>
          <ul class="experience-description">
            <li *ngFor="let desc of exp.description">{{ desc }}</li>
          </ul>
          <div class="experience-tech">
            <span class="tech-tag" *ngFor="let tech of exp.technologies">{{ tech }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

